{
  "presets": [
		[
			"es2015",
			{
				"modules": false
			}
		],
		"react",
		"react-native"
	],
	"env": {
		"start": {
			"presets": [
				"react-native"
			]
		},
		"test": {
			"presets": ["es2015", "react", "react-native"]
		}
	}
}
